.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  min-height: fit-content;
}

.buttonWrap {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 5px;
}

.App-header input {
  background: transparent;
  border: 1px solid aliceblue;
  color: aliceblue;
  font-size: 1.1em;
  border-radius: 10px;
  padding: 5px;
}

.App-header button {
  background: aliceblue;
  font-size: 1.4em;
  border: 2px solid aliceblue;
  border-radius: 5px;
}

.App-title {
  font-size: 1.9em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
